body { 
    margin: 60px auto; 
    width: 90%; 
    background-image: url(/images/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 1600px;
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 16pt; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 12pt; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: 8pt; }

/* Blog */
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 16pt;
}
ul.posts li { list-style: none; }

.posts {
    background-color: white;
    min-height: 600px;
    box-shadow: black 5px 5px; 
    padding: 10px;
}
/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

.light-header {
    color: white;
    margin: 0px;
}

.container {
    max-width: 1600px;
    margin: auto;
}

.meta {
    color: white;
    margin: 0px 0px 20px 0px;
}

code {
    background-color: rgb(255,246,234);
}

pre code, pre {
    background-color: black;
    color: lightblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 12pt;
    padding: 15px 5px 15px 5px;
}

pre {
    padding: 1.5px 5px 1.5px 5px !important;
}